* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-top: 20px;
}

body {
  background-image: url("https://s7d2.scene7.com/is/image/TWCNews/istock-generic-election-buttons-votingjpg3840x2160jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}

.app {
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
  width: 680px;
  margin: auto;
  padding: 20px;
}

.app > h1 {
  text-align: center;
  background-color: black;
  border-radius: 50px;
  font-size: 25px;
  margin-right: 200px;
  margin-left: 200px;
  color: rgb(255, 255, 0, 0.8);
}

.header {
  text-align: center;
  font-size: 25px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border-radius: 20px;
  background-color: darkblue;
  border: 1px solid #3339;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.profile,
.issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1602,w_2381,x_9,y_0/v1591714472/shape/mentalfloss/50913-gettyimages-1154460019.jpg?itok=FX6bz08s");
  background-position: left;
  background-size: cover;
  padding: 25px;
  border-radius: 10px;
}

.profile > h1 {
  margin: 8px;
  padding: 20px;
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-color: rgba(51, 51, 168, 0.9);
}

.issues > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.issues > form {
  border-radius: 20px;
  background-color: darkblue;
  border: 1px solid #3339;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.issues > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.issues > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.issue-list {
  background-color: rgba(51, 51, 168, 0.9);
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 4px 8px 0px 5px rgba(0, 0, 0, 0.7);
}

.issue > h1 {
  padding: 20px;
  padding-right: 200px;
  padding-left: 200px;
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.link {
  cursor: pointer;
}

.comments {
  font-size: 20px;
}
